* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  background-color: #070303;

  background-size: cover;
  color:aliceblue
  
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 700px;
  margin: 10px;
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #f7f7f7;
  position: relative;
  box-shadow: 10px 10px 10px #f8f8f8;

}

.card h2 {
  padding: 10px;
}

.card p {
  padding: 10px;
}

.image {
  border-radius: 10px;
  width: 290px;
}

.card-text {
  width: 100%;
}

.img{
  height: 100%;
  object-fit: cover;
}

.add_card { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  height: 200px;
  justify-content: center;
  background-color: #000000;
  border-radius: 10px;
  border: 2px solid #f7f7f7;
  margin: 0 auto;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  object-fit: cover;
  height: 40px;
  padding: 10px;
  border: none;
  cursor: pointer;
  
}

.age {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overall_rating {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.height {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.min {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  color: white;
}

.max {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  color: white;
}

input {
  width: 200px;
}

.del{
  width: 20px;
  border-color: #ff0101;
  border-radius: 20px;
}

.blue {
  background-color: rgb(0, 60, 255);
  width: 50vw;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-height: 3000px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  /* max-height: 400px; */
}


.red {
  background-color: red;
  width: 50vw;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  min-height: 3000px;
}

.blue_button{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ff0000;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #f7f7f7;
  margin: 0 auto;
  color: #ffffff;

}

.red_button{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #001aff;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #f7f7f7;
  margin: 0 auto;
  color: #ffffff;
}
.Join_button_left {
  float: left;
  width: 140px;
  height: 100px;
  background-color: #001aff;
}

.Join_button_right {
  float: right;
  width: 140px;
  height: 100px;
  background-color: #ff0000;
}

.image_footbaler{
  width: 270px;
  height: 390px;
  border: 1px solid #f7f7f7;
}

.card_game {
  transform: scale(0.5);
  transform-origin: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.card_game:hover {
  transform: perspective(1000px) translateZ(10px) scale(0.55);
  /* transform: scale(0.5);
  transform: translateZ(10px); */
  transition: all 0.2s ease-in-out;
}


