<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=" stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <!-- настрой инпуты, чтобы там где число, нельзя было писать текст -->
    <div class="add_card_с">
      <form class="add_card" action="/add_card" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="name">
        <div class="age">
          <label for="age">Возраст</label>
          <input type="range" min="18" max="50" name="age" placholder="age">
          <div class="min">18</div>
          <div class="max">50</div>
        </div>
        <div class="overall_rating">
          <label for="overall_rating">Общий рейтинг</label>
          <input type="range" min="50" max="150" name="overall_rating" placholder="overall_rating">
          <div class="min">50</div>
          <div class="max">150</div>
        </div>
        <div class="height">
          <label for="height">Рост</label>
          <input type="range" min="150" max="220" name="age" placholder="height">
          <div class="min">150</div>
          <div class="max">220</div>
        </div>
        <input type="file" name="image" placeholder="image" accept=".jpg, .png" >
        <input type="submit" value="Добавить">
      </form>
    </div>

      <div class="cards">
        {% for item in data %}
        <div class="card">
          <!-- пофиксить и сделать красиво - чтобы была только иконка удалить -->
          <form class="delete" action="/delete_card" method="POST">
            <input class="del" type="submit" value="X">
            </input>
            <input type="hidden" name="id" value="{{ item.id }}" />
          </form>
          <img class=image src="../static/photo/{{item.id}}.jpg" />
          <h5> Айди: {{ item.id }}</h5>
          <h1>{{ item.name }}</h1>
          <p>Возраст: {{ item.age }}</p>
          <p>Общий рейтинг: {{ item.overall_rating }}</p>
          <p>Рост: {{ item.height }} см</p>
        </div>
        {% endfor %}
      </div>

  </body>
</html>

