<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel=" stylesheet" href="../static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- {% for card in blue %} Синие {{card}} {% endfor %} {% for card in red %} Красные {{card}} {% endfor %} -->

    <div class="blue">
      <input class="blue_button" type="submit" value="Синие" />
      <div class="content">
        {% for card in blue %}
        <div class="card card_game">
          <img class="image_footbaler" src="../static/photo/{{ card.id }}.jpg" alt="" />
          <h5>Айди: {{ card.id }}</h5>
          <h1>{{ card.name }}</h1>
          <p>Возраст: {{ card.age }}</p>
          <p>Общий рейтинг: {{ card.overall_rating }}</p>
          <p>Рост: {{ card.height }} см</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="red">
      <input class="red_button" type="submit" value="Красные" />
      {% for card in red %}
      <div class="card card_game">
        <img class="image_footbaler" src="../static/photo/{{ card.id }}.jpg" alt="" />
        <h5>Айди: {{ card.id }}</h5>
        <h1>{{ card.name }}</h1>
        <p>Возраст: {{ card.age }}</p>
        <p>Общий рейтинг: {{ card.overall_rating }}</p>
        <p>Рост: {{ card.height }} см</p>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
